@use '../variables';

.infos-bar {
    padding: 16px 24px;
    background-color: variables.$firstColor;
    display: flex;
    justify-content: space-between;
    
    &__infos{
        color: variables.$secColor;
        display: flex;
        gap: 150px;

        &__item {
            font-size: 14px;
            color:variables.$secColor;

            b {
                color: variables.$secColor;
                font-size: 18px;
                display: block;
                padding-bottom: 5px;
            }
        }
    }

    @media (max-width:640px) {
        display: block;
        

        &__infos {
            display: block;

            &__item {
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width:1024px) {
        &__infos {
            gap: 16px;
        }
    }
}