@use 'hero';
@use './components/infos_bar';
@use './components/buttons';
@use 'variables';
@use 'event';
@use 'end';
@use './components/social_media';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Vollkorn', serif;
}

body{
    background-color: variables.$secColor;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}